.email {
  display: flex;
  .email-form {
    .email-form-subject, .email-form-message {
      width: 250px;
    }
    .email-form-message {
      height: 100px;
    }
  }
  .email-variables {
    margin-left: 10px;
    input {
      margin-left: 5px;
    }
  }
  .email-recipient-container {
    margin-left: 152px;
  }
}